@font-face {
  font-family: Ampersand;
  src: local('Palatino-Italic');
  unicode-range: U+26;
}

/* === GLOBAL === */

:root {
  --blue: #3a9ce5;
  --dark-blue: #03599c;
  --light-blue: #3faeff;
  --light-green: #84fab0;
  --ultra-light-blue: #cdeaff;
  --border-radius: 0.25rem;
  --box-shadow: 0 0.25rem 0.5625rem 0 rgba(30, 59, 91, 0.2);
  --gradient: linear-gradient(270deg, var(--light-green), var(--blue));
  --transition: all 0.2s ease-in-out;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

*[id^="outline"]:target {
  border: 0.1rem solid red !important;
}

head.preload + body * {
  transition: none !important;
}

head.preload + body main article:after {
  animation: loaderAnimation 1s infinite steps(8);
  background: url(./images/spinner.png) 0 0;
  background-size: cover;
  content: "Loading...";
  display: block;
  height: 3.125rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-indent: 200%;
  top: 39%;
  transform: translate(-50%);
  white-space: nowrap;
  width: 3.125rem;
}

html,
body {
  color: var(--dark-blue);
  font-family: 'Ampersand', 'Brandon Grotesque', -apple-system, sans-serif;
  line-height: 1.6rem;
}

body > h1 {
  animation: backgroundAnimation 30s ease infinite;
  background-image: var(--gradient);
  background-size: 400% 400%;
  color: var(--ultra-light-blue);
  letter-spacing: 0.25rem;
  padding: 2rem 0;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 999;
}

body > footer {
  letter-spacing: 0.1rem;
  text-align: center;
}

body > footer nav {
  background-color: transparent;
  position: static;
}

body > footer li {
  display: inline-block;
  margin: 1rem 0.75rem 0;
}

body > footer progress {
  -webkit-appearance: none;
  border-radius: 0;
  color: var(--dark-blue);
  display: block;
  height: 0.5rem;
  width: 100%
}

body > footer progress[value]::-webkit-progress-bar {
  background-color: #eee;
}

body > footer progress[value]::-webkit-progress-value {
  background-image: var(--gradient);
}

body > footer small {
  display: inline-block;
  margin: 1rem 0;
}

h1 {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* === NAVIGATION & LOGIN === */

nav {
  background: var(--ultra-light-blue);
  position: fixed;
  top: 5.5rem;
  width: 100%;
  z-index: 999;
}

nav h1 {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 25rem;
  position: relative;
  width: 90%;
  z-index: 2;
}

nav ul ul {
  background: #f7f8fc;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  height: 0.0625rem;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transform: translateY(-0.5rem);
  transition: transform 0.2s ease-in-out, opacity 0.1s ease-out;
  width: auto;
  z-index: 1;
}

nav ul ul:focus-within,
nav ul ul:hover,
nav ul ul:focus {
  height: auto;
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

nav ul ul a {
  min-width: 9.375rem;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
}

nav ul ul form a {
  display: inline-block;
  min-width: 11rem;
  padding: 0;
  text-align: right;
}

nav ul > li {
  display: inline-block;
}

nav ul a {
  color: inherit;
  display: block;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  transition: var(--transition);
  z-index: 2;
}

nav ul a:hover,
nav ul a:focus {
  background: var(--blue);
  color: var(--ultra-light-blue);
}

nav ul a:hover + ul,
nav ul a:focus + ul {
  height: auto;
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

nav ul a:hover:not(:only-child):after,
nav ul a:focus:not(:only-child):after {
  border-top-color: var(--ultra-light-blue);
}

nav ul a:not(:only-child):after {
  border: 0.3rem solid transparent;
  border-top: 0.3rem solid var(--dark-blue);
  content: '';
  display: inline-block;
  margin-bottom: 0.35rem;
  margin-left: 0.7rem;
  vertical-align: bottom;
}

nav ul form {
  min-width: 20rem;
  padding: 1rem;
}

nav ul form label {
  cursor: pointer;
}

nav ul form a:hover,
nav ul form a:focus {
  background: transparent;
  color: inherit;
  text-decoration: underline;
}

nav ul form a:not(:only-child):after {
  border: none;
  content: '';
  display: none;
  margin: 0;
  vertical-align: baseline;
  vertical-align: initial;
}

nav ul form input,
nav ul form button {
  border: none;
  border-radius: 0;
  display: block;
  font: inherit;
  padding: 0.5rem;
  width: 100%;
}

nav ul form input {
  border: 0.0625rem solid #eee;
  margin: 0.5rem 0 1rem;
}

nav ul form input:valid {
  border: 0.0625rem solid #4caf50;
}

nav ul form input:invalid {
  border: 0.0625rem solid #e84e4f;
}

nav ul form input:focus {
  outline: 0.125rem dashed var(--dark-blue);
}

nav ul form input[type="checkbox"] {
  clip: rect(0, 0, 0, 0);
  display: inline-block;
  position: absolute;
  width: auto;
}

nav ul form input[type="checkbox"]:checked + label::before {
  background: var(--light-green);
  color: var(--dark-blue);
  content: '\2713';
}

nav ul form input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 .1em .1em var(--blue);
}

nav ul form input[type="checkbox"] + label::before {
  background: #eee;
  border: 0.1rem solid var(--dark-blue);
  content: '\a0';
  display: inline-block;
  height: 0.8rem;
  line-height: .25;
  margin-right: 0.5rem;
  text-indent: .15em;
  vertical-align: 0.2rem;
  width: 0.8rem;
}

nav ul form button {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  transition: var(--transition);
}

nav ul form button:hover,
nav ul form button:focus {
  background-color: var(--dark-blue);
}

/* === MEDIA ITEM & RATING === */

main {
  background-color: #fff;
  display: grid;
  grid-gap: 2.5rem;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin-top: 8rem;
  padding: 3rem 6rem;
}

main article {
  position: relative;
}

main h1 {
  background-image: linear-gradient(120deg, var(--light-green), var(--light-blue));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border-radius: var(--border-radius);
  color: var(--dark-blue);
  font-size: 1rem;
  letter-spacing: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
}

main article > a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

main article > a:hover + img,
main article > a:focus + img {
  transform: scale(1.1);
}

main article > a:hover h1,
main article > a:focus h1 {
  background-size: 100% 100%;
}

main article > a:before {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 5;
}

main img {
  border-radius: var(--border-radius);
  height: 100%;
  margin: 2rem 0 1rem;
  max-height: 15rem;
  object-fit: cover;
  transition: var(--transition);
  width: 100%;
}

main dialog {
  background: #fff;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .8);
  display: none;
  left: 50%;
  margin-left: -25rem;
  position: fixed;
  top: -100%;
  width: 50rem;
  z-index: 9999;
}

main dialog:target {
  display: block;
  top: 5%;
}

main dialog h2 {
  color: var(--dark-blue);
  font-size: 1rem;
  letter-spacing: .2rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

main dialog a {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 1.2rem;
  top: 1.1rem;
  transition: var(--transition);
}

main dialog a:before {
  content: "Close";
  display: inline;
  font-size: 1rem;
  font-weight: normal;
  opacity: 0;
  position: absolute;
  right: -0.65rem;
  top: 2.5rem;
  transform: rotate(-90deg);
  visibility: hidden;
}

main dialog a:focus:before {
  opacity: 1;
  visibility: visible;
}

main dialog a:focus {
  transform: rotate(90deg);
}

main dialog a:focus,
main dialog a:hover {
  text-decoration: underline;
}

main dialog img {
  border-radius: 0;
  height: auto;
  margin: 0;
  max-height: none;
}

main dialog fieldset {
  border: none;
  margin-bottom: 1rem;
  text-align: center;
}

main dialog input,
main dialog label {
  cursor: pointer;
  display: inline-block;
}

main dialog input {
  display: inline;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

main dialog input:hover + label > svg,
main dialog input:focus + label > svg {
  animation: pulseAnimation 2s ease-in-out infinite;
  background-image: linear-gradient(120deg, var(--light-green), var(--light-blue));
  border: 0.0625rem solid transparent;
  filter: grayscale(0);
  transform: scale(1.15);
}

main dialog legend {
  color: var(--dark-blue);
  font-weight: bold;
  padding: 1rem 0;
  text-align: center;
}

main dialog label {
  font-size: 0;
  margin: 0 0.5rem;
}

main dialog svg {
  border-radius: 50%;
  filter: grayscale(50%);
  height: 2.75rem;
  transition: var(--transition);
}

/* === PICTURE WITH SUBTITLE === */

section {
  display: flex;
}

section a {
  display: block;
  position: relative;
  transition: all 0.35s ease-in-out;
  transition-delay: 0.5s;
  width: 50vw;
}

section a:hover,
section a:focus {
  width: 150vw;
}

section a:hover img,
section a:focus img {
  filter: grayscale(50%) brightness(40%);
}

section a:hover h1,
section a:focus h1 {
  background-color: transparent;
  top: 25%;
}

section a:hover p,
section a:hover footer,
section a:focus p,
section a:focus footer {
  opacity: 1;
  transition-delay: 0.5s;
  visibility: visible;
}

section a:hover footer,
section a:focus footer {
  transition-delay: 0.85s;
}

section img {
  filter: grayscale(0) brightness(100%);
  height: 50vh;
  margin-bottom: -0.5rem;
  object-fit: cover;
  transition: all 0.35s ease-in-out;
  width: 100%;
}

section h1,
section p,
section footer {
  color: #fff;
  position: absolute;
  text-align: center;
  transition: all 0.35s ease-in-out;
  z-index: 1;
}

section h1,
section footer {
  left: 0;
  right: 0;
}

section h1 {
  background-color: rgba(0, 0, 0, .3);
  font-size: 1.5rem;
  padding: 2rem 1rem;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
}

section p,
section footer {
  opacity: 0;
  padding: 0 20%;
  visibility: hidden;
}

section p {
  font-size: 1.25rem;
  top: 40%;
  transition-delay: 0;
}

section footer {
  bottom: 25%;
  font-style: italic;
  transition-delay: 0;
}

/* === CHAT === */

a[href="#chat"] {
  background-color: var(--blue);
  border-radius: 50%;
  bottom: 1rem;
  box-shadow: var(--box-shadow);
  height: 3rem;
  position: fixed;
  right: 1rem;
  transform-origin: center;
  width: 3rem;
  z-index: 999;
}

a[href="#chat"]:hover,
a[href="#chat"]:focus {
  animation: bounceAnimation 0.75s ease-in-out infinite, backgroundAnimation 10s ease infinite;
  background-image: var(--gradient);
  background-size: 400% 400%;
}

a[href="#chat"]:after {
  background-color: red;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  color: #fff;
  content: "1";
  font-size: 0.8rem;
  height: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  right: -0.5rem;
  text-align: center;
  top: -0.5rem;
  width: 1.5rem;
}

a[href="#chat"] img {
  object-fit: cover;
  padding: 0.6rem;
  width: 100%;
}

aside {
  background: hsl(0, 0%, 100%);
  background-image: linear-gradient(90deg, hsl(0, 0%, 99%) 0.6875rem, transparent 0), linear-gradient(90deg, hsl(0, 0%, 98%) 1.438rem, transparent 0);
  background-size: 2.563rem 100%, 3.813rem 100%, 5.188rem 100%;
  border-top-left-radius: var(--border-radius);
  bottom: 0;
  box-shadow: var(--box-shadow);
  color: #fff;
  max-width: 20rem;
  opacity: 0;
  position: fixed;
  right: 0;
  transform: translate(100%, 100%);
  transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: 999;
}

aside:target {
  opacity: 1;
  transform: translate(0, 0);
}

aside a {
  background-color: var(--dark-blue);
  border-top-left-radius: var(--border-radius);
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: right;
  transition: var(--transition);
  width: 100%;
}

aside a:before {
  content: "Close";
  display: inline;
  font-size: 1rem;
  font-weight: normal;
  opacity: 0;
  position: absolute;
  right: 2rem;
  transition: var(--transition);
}

aside a:focus:before {
  opacity: 1;
  visibility: visible;
}

aside a:focus,
aside a:hover {
  text-decoration: underline;
}

aside ol {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

aside li {
  align-self: flex-start;
  color: var(--dark-blue);
  margin-bottom: 1.5rem;
}

aside li > p {
  background-color: #fff;
  border-bottom-left-radius: 0;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 0.5rem 1rem;
}

aside li:nth-of-type(odd) {
  align-self: flex-end;
  text-align: right;
}

aside li:nth-of-type(odd) > p {
  background-color: var(--light-green);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0;
}

aside li:last-of-type {
  margin: 0;
}

aside li footer {
  color: #78909c;
  font-size: 0.8rem;
  font-style: italic;
}

aside form {
  animation: backgroundAnimation 5s ease infinite;
  background-image: var(--gradient);
  background-size: 400% 400%;
  overflow: auto;
}

aside form label {
  display: none;
}

aside form textarea,
aside form button {
  border: none;
  border-radius: 0;
  display: block;
  font: inherit;
  padding: 0.5rem;
  width: 100%;
}

aside form textarea {
  border-top: 0.0625rem solid #eee;
  resize: none;
}

aside form textarea:focus {
  outline: 0.125rem dashed var(--dark-blue);
}

aside form button {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color, margin 0.2s ease-in-out;
}

aside form button:hover,
aside form button:focus {
  background-color: var(--dark-blue);
  margin: 0.25rem;
  width: calc(100% - 0.5rem);
}

/* === ANIMATIONS === */

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseAnimation {
  0% {
    box-shadow: 0 0 0 0 rgba(132, 250, 176, 0.4);
  }

  70% {
    box-shadow: 0 0 0 0.75rem rgba(132, 250, 176, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(132, 250, 176, 0);
  }
}

@keyframes bounceAnimation {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes loaderAnimation {
  to {
    background-position: 25rem 0;
  }
}
/*# sourceMappingURL=main.css.map */
